html {
	font-family: 'Lato', sans-serif;
	background-color: #fff;
	font-size: 62.5%; /*Es el rem que es 10px*/
}

/*header nav*/
.bg-transparent{
	transition: all 1s ease;
}

.bg-transparent{
	background-color: transparent !important;
	border-color: transparent;
}

.bg-transparent.scrolled{
	background: #105999 !important;
}

.navbar-dark .navbar-brand{
	text-transform: uppercase;
	padding: 30px 15px;

}

.navbar-nav li a{
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 1.8rem;
	font-weight: bold;
}

.nav-link{
	color: #C3D5E3 !important;
	padding-right: 3rem !important;
}

.nav-item:hover .nav-link {
	color: #6E8597 !important;
}

#imgMarca {
	max-width:50%; 
	padding: 10px;
}

/*termina el header*/


/*HOME*/
/*empieza el carousel*/

.carousel-inner{
	box-sizing: border-box;
}


.carousel-item{
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	background-size: cover;
}

.carousel-caption{
	position: absolute;
    top: 40%;
    bottom: auto;
    text-align: center;
    box-sizing: inherit;
}

.carousel-caption h2{
	font-family: 'Passion One', cursive;
	font-weight: 700;
	font-size: 13rem;
	letter-spacing: 3px;
	margin-top: 10px;
	color: #C3D5E3;
}

#pruebaDeg{
   background:#FFFFFF;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
     color: #C3D5E3;
}

.carousel-caption h3{
	font-family: 'Lato', sans-serif;
	font-size: 3rem;
	letter-spacing: 3px;
	color: #D9E3FF;
}

/*la parte responsive del home*/
@media (max-width: 767.98px){
	.carousel-caption h2 {
		font-size: 5rem;
	}
	.carousel-caption h3 {
		font-size: 1.2rem;
	}
	.navbar-dark .navbar-brand {
	font-size: 2rem;
	}
	#imgFull {
		width: 160% !important;
	}
}

/*la parte responsive del home pero grande*/
@media (max-width: 991.98px) {
	.navbar-nav li a{
	font-size: 1.3rem;
	}
	#imgFull {
		width: 120% !important;
	}
}

/*dispositivos muy chiquitos*/
@media (max-width: 575.98px) {
		.carousel-caption h2 {
		font-size: 4rem;
	}
	.carousel-caption h3 {
		font-size: 1.6rem;
	}
	#imgFull {
		width: 250% !important;
	}
	.h5produ {
	font-size: 5.5rem !important;
	}
	.h5produ2 {
	font-size: 5.5rem !important;
	}
}

.animate__animated .animate__zoomIn {
  --animate-duration: 2s;
}

.animate__animated .animate__fadeIn {
  --animate-duration: 30s;
}

/*termina el CAROUSEL*/

#buttonSection1 {
	margin-top: 1rem;
	border-radius: 20px 20px 20px 20px;
	padding: 10px 20px 10px 20px;
	background-color: #ffd9d9;
	color: #996f1a;
}

#button1 {
  background-color: white;
  color: #ececec;
  border: 2px solid #ececec;
  border-radius: 12px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8rem; 
}

.animate__animated .animate__fadeInUp {
  --animate-duration: 3s;
} /*por si quiero poner el boton de iniciar*/



/*SECTION 1*/
#section1{
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#section1a{
	padding: 2rem 20rem 2rem 1rem;
}

.h3defi{
	color: #105999;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 3rem;
	padding-bottom: 1.5rem;
}

.h4defi{
	color: #105999;
	font-family: 'Passion One', cursive;
	font-weight: 400;
	font-size: 4rem;
	padding-bottom: 1.5rem;
	padding-top: 3rem;
}

.pdefi{
	color: #4a5649;
	text-align: left;
	margin-top: 1.5rem;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 2rem;
}

#buttonSection1 {
	margin-top: 1.8rem;
	border-radius: 20px 20px 20px 20px;
	padding: 10px 20px 10px 20px;
	background-color: #ffd9d9;
	color: #996f1a;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.2rem;
}

#buttonSection1:hover {
	background-color: #4a5649;
	color: #e8a5a5;
	text-decoration: none;
}



/*SECTION 2*/

#section2{
	padding-top: 5rem;
	padding-bottom: 5rem;
}

#section2a{
	padding: 2rem 20rem 2rem 1rem;
}

.colorSection2 {
	background: -webkit-linear-gradient(transparent,#D4E9E8);
}

.imgsection2 {
	padding-top: 3rem;
}

.h5defi {
	color: #87600A;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 1.9rem;
	text-align: center;
	margin-top: 1.5rem;
}

.textoCentrado {
	text-align: center;
	padding: 0 2rem 3rem 2rem;
}

.tituloSection2{
	color: #996f1a;
	text-align: left;
	margin-top: 5%;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 3rem;
	padding-right: 3rem;
}


/*SECTION 3*/
.h5defi3 {
	color: #87600A;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 2.1rem;
	text-align: center;
	margin-top: 1.5rem;
	margin-bottom: 3rem;
}

#zoomImg {
	overflow: hidden;
}

#zoomImg:hover {
	filter: opacity(.5);
	transition:all .5s ease-in-out;

}

.h5defi3:hover {
	color: #523A05;
}

/*SECTION 4*/

.colorSection4 {
	background-image: url(media/imgSection4.jpg);
	background-repeat: no-repeat, repeat;
}

.pdefi4{
	color: #D0E1F2;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.7rem;
	padding-top: 2rem;
}

.h3defi4{
	color: #DBEDFF;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 3rem;
	padding-top: 2rem;
}

.textoCentrado4 {
	text-align: center;
}

#buttonSection4 {
	margin-top: 1.8rem;
	border-radius: 20px 20px 20px 20px;
	padding: 10px 20px 10px 20px;
	background-color: #D0E1F2;
	color: #87600A;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
	margin-bottom: 3rem;
	margin-left: auto;
  	margin-right: auto;
}

#buttonSection4:hover {
	background-color: #105999;
	color: #DBEDFF;
	text-decoration: none;
}


/*SECTION 5*/
.blogPrueba {
	background-image: linear-gradient(#edf5e9,#ececec);
	padding: 30px 20px 20px 20px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.blogPrueba:hover {
	background-image: linear-gradient(#edf5e9,#ffeded);
}

.tituloCentrado {
	text-align: center;
	padding: 4rem 2rem 3rem 2rem;
}

#tith3blog {
	font-family: 'Bitter', serif;
	font-weight: 400;
	font-size: 1.9rem;
	color: rgb(199, 168, 147)
}

#subh5blog {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.4rem;
	color: rgb(199, 168, 147)
}

.imgBlog {
	margin-bottom: 2rem;
}

#sinSub {
	text-decoration: none;
}

/*SECTION 6*/
.colorSection6 {
	background-color: #ffe6e6;
	margin-top: 2rem;
}

.video-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
    }

.video-responsive iframe, .video-responsive object, .video-responsive embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    }

.pdefi6{
	color: #4a5649;
	text-align: left;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.4rem;
}

/*SECTION 7*/
.pdefi7{
	color: #4a5649;
	text-align: left;
	margin-top: 0.5rem;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.2rem;
}

#buttonSection7 {
	margin-top: 1.8rem;
	border-radius: 20px 20px 20px 20px;
	padding: 10px 20px 10px 20px;
	background-color: #ffd9d9;
	color: #996f1a;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.2rem;
	display: block
}

#buttonSection7:hover {
	background-color: #4a5649;
	color: #e8a5a5;
	text-decoration: none;
}


/*FOOTER*/

.footerDown{
	position:relative;
	margin:0 auto;
	padding-top: 5px;
}

.colorSectionF {
	background-color: #105999;
	margin-top: 2rem;
	padding-top: 2rem;
	padding-bottom: 1rem;
}

.pdefiF{
	color: #D0E1F2;
	text-align: left;
	margin-top: 1.5rem;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1.3rem;
	padding-right: 3rem;
}

#textDecoF {
	text-decoration: none;
}

.imgBordeF {
	padding-right: 1rem;
	max-width: 35px;
}

.marcaF{
	padding-right: 1rem;
	width: 50%;
	margin-top: 55px;
	align-content: center;
}

/* FIN FOOTER*/

/*SECCIONES NAV*/
#bkgColor{
	background: #105999 !important;
}
/*FIN SECCIONES NAV*/

/*PÁGINA CONTACTO*/
#myRow {
	margin-top: 15rem;
}

.animate__animated .animate__fadeInDown {
  --animate-duration: 2s;
}


/*PÁGINA BLOG*/
.h5defiB {
	color: #4a5649;
	font-family: 'Bitter', serif;
	font-weight: 700;
	font-size: 1.9rem;
	text-align: left;
	margin-top: 1.5rem;
}

.h5defiBB {
	color: #e8b5b5;
	font-family: 'Bitter', serif;
	font-weight: 400;
	font-size: 1.5rem;
	text-align: right;
	margin-top: 1.5rem;
}

.h5defiBB:hover {
	color: #4a5649;
	text-decoration: none;
}

.blogPruebaB {
	background-image: linear-gradient(#edf5e9,#f5dcdc);
	padding: 30px 20px 20px 20px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.blogPruebaB:hover {
	background-image: linear-gradient(#f5dcdc,#edf5e9);
}

.blogPruebaC {
	background-image: linear-gradient(#ffeded,#f5dcdc);
	padding: 30px 20px 20px 20px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.blogPruebaC:hover {
	background-image: linear-gradient(#f5dcdc,#ffeded);
}

.blogPruebaD {
	background-image: linear-gradient(#f7ded0,#f5dcdc);
	padding: 30px 20px 20px 20px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.blogPruebaD:hover {
	background-image: linear-gradient(#f5dcdc,#f7ded0);
}


/*PÁGINA SERVICIOS*/
.h5defiQ {
	color: #4a5649;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 1.7rem;
	text-align: center;
	margin-top: 1.5rem;
}

.h5defiQ2 {
	color: #ebb5b5;
	font-family: 'Bitter', serif;
	font-weight: 700;
	font-size: 4.5rem;
	text-align: center;
	margin-top: 2rem;
}

.h5defiQ3 {
	color: #4a5649;
	font-family: 'Bitter', serif;
	font-weight: 400;
	font-size: 1.7rem;
	text-align: center;
	margin-top: 2.1rem;
}

#RowServicio {
	justify-content: center;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

/*PÁGINA PRODUCTOS*/
.colorProd1 {
	background-color: #4a5649;
}

.colorProd2 {
	background-color: #ffe6e6;
}

#myRow2 {
    margin-right: -15px;
    margin-left: -15px;
}

.h5margin {
	margin-top: 15rem;
}

.h5produ {
	color: #ffe6e6;
	font-family: 'Bitter', serif;
	font-weight: 400;
	font-size: 7rem;
	text-align: left;
	margin-left: 4rem;
	letter-spacing: 2px;
}

.pdefiQ{
	color: #ffd9d9;
	text-align: left;
	margin: 4rem 4rem 4rem 4rem;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.7rem;
	padding-top: 2rem;
}

#buttonSectionP {
	margin: 4rem 4rem 4rem 4rem;
	border-radius: 20px 20px 20px 20px;
	padding: 10px 20px 10px 20px;
	background-color: #ffd9d9;
	color: #996f1a;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.2rem;
}

#buttonSectionP:hover {
	background-color: #4a5649;
	color: #e8a5a5;
	text-decoration: none;
}

.h5produ2 {
	color: #4a5649;
	font-family: 'Bitter', serif;
	font-weight: 400;
	font-size: 7rem;
	text-align: right;
	margin-right: 4rem;
	letter-spacing: 2px;
}

.pdefiQ2{
	color: #4a5649;
	text-align: right;
	margin: 4rem 4rem 4rem 4rem;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.7rem;
	padding-top: 2rem;
}

#buttonSectionP2 {
	margin: 4rem 4rem 4rem 4rem;
	border-radius: 20px 20px 20px 20px;
	padding: 10px 20px 10px 20px;
	background-color: #4a5649;
	color: #e8a5a5;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.2rem;
}

#buttonSectionP2:hover {
	background-color: #ffd9d9;
	color: #996f1a;
	text-decoration: none;
}

/*Prueba*/

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}





/*PÁGINA 404*/
.colorSectionFF {
	background-color: #4a5649;
	padding-top: 2rem;
	padding-bottom: 1rem;
}

.carousel-caption {
	padding-top: 0 !important;
}

*{box-sizing:border-box;}


		.social{
			width:0.5rem;
			position:fixed;
			left:0;
			top:50%;
			margin-top:-100px;
		}